<footer class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-2">
      <nav class="nav flex-column">
        <a class="p-2" href="/example.html">Home</a>
        {% for p in site.pages %}
          {% if p.menu %}
          <a class="p-2" href="{{ p.url }}">{{ p.title }}</a>
          {% endif %}
        {% endfor %}
        <span class="social-icons">
          <a href="https://facebook.com/StawartMC"><img src="/assets/images/facebook-circle.png" alt="Facebook" /></a>
          <a href="https://twitter.com/StalwartMC"><img src="/assets/images/twitter-circle.png" alt="Twitter" /></a>
          <a href="https://linkedin.com/StalwartMC"><img src="/assets/images/linkedin-circle.png" alt="LinkedIn" /></a>
        </span>
      </nav>
    </div>
    <div class="col-2">
      <address>
        2101 City West BLVD<br>
        Houston, TX 77042<br>
        <abbr title="Phone">P:</abbr> (832) 710-3100
      </address>
      <div class="footer-logo">
        <img src="/assets/images/stalwartmc-logo-full-cropped.png" alt="StalwartMC Logo" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    &copy; Stalwart Consulting, LLC. 2019
  </div>
</footer>
