<header class="py-3 container-fluid">
  <div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-2">
        <a id="stalwart-logo" href="/">
          <img src="/assets/images/stalwartmc-logo-full-cropped.png" alt="StalwartMC Logo" />
        </a>
      </div>
      <div class="col-8 text-center">
        <a id="stalwart-name" class="text-light" href="/">Stalwart Consulting, LLC.</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <address>
          2101 City West BLVD<br>
          Houston, TX 77042<br>
          <abbr title="Phone">P:</abbr> (832) 710-3100
        </address>
      </div>
    </div>
  </div>
</header>
