.jumbotron {
  background-color: #2e383d;
  text-align: center;
  border-radius: 0;
}

main {
  margin-top: 2em;
}

main h2 {
  text-align: center;
  margin-top: 1em;
}

#post-list {
  background: beige;
  padding: 8px 16px;
  margin-top: 3em;
}

#contact-form-box {
  margin: 1em 0 1em 0;
}
