.jumbotron {
  background-color: #2e383d;
  text-align: center;
  border-radius: 0;
}

main h2 {
  text-align: center;
  margin-top: 1em;
}

#post-list {
  background: beige;
  padding: 8px 16px;
  margin-top: 1em;
}
